<%- include('../partials/boilerplate') %>


<div class='app-container' id='user'></div>

    <form method='POST' action='/make-profile'>
        <input name='username' type='text' placeholder='username' required />
        <input name='email' type='email' placeholder='email' required />
        <input name='password' type='password' placeholder='password' required />
        <a href='/user/make-profile'>
        <input type='submit' value='Join our list of affordable Vets!' /></a>
    </form>    

</div>








<%- include('../partials/end') %>