<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset+"UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vets-for-Pets</title>
        <link rel='stylesheet' type='text/css' href='/styles/reset.css'>
        <link rel='stylesheet' type='text/css' href='/styles/style.css'>
        <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Berkshire+Swash&family=Covered+By+Your+Grace&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <h1>Vets for Pets</h1>
            <div class="navigation">
                <a href='/'>Home</a> 
                <a href='/user/login'>Vet Log In</a>
                <a href='/user/new'>Register Your Vet/Organization/Event</a>
                <a href='/events/calendar'>Calendar of Events</a>
                <a href='/user/logout'>Log Out</a>
            </div>
        </header>