<header class="header">
    <h1>Vets for Pets</h1>
    <div class="navigation">
        <a href='/'>Home</a> 
        <a href='/user/new'>Register Your Vet/Organization/Event</a>
        <a href='/events/calendar'>Calendar of Events</a>
        <a href='logout'>Log Out</a>
    </div>
</header>
<div class='app' id='sidebar'> 
        <form method='POST' action='user/login'>
            <input name='username' type='text' placeholder='username' required />
            <input name='password' type='password' placeholder='password' required />
            <a><input type='submit' value='Log in!' /></a>
        </form> 
        </div>   