<%- include ('partials/boilerplate') %>

<div class="app-container">
    <h1>Vets For Pets</h1>
    <a href='/user/login'><input name='Log in' type='submit' value='log in!'></a>
    <a href='/user/new'><input name='Register' type='submit' value='Register here!'>
        </a>
</div>

<%- include ('partials/end') %>
