<%- include('../partials/boilerplate') %>

<div class='app-container' id='userVet'>
    <form method='POST' action='/make-profile'>
        <input name='name' type='text' placeholder='vet/organization name' required />
        <input name='address' type='text' placeholder='address' required />
        <input name='phone' type='text' placeholder='phone' required />
        <input name='url' type='url' placeholder='website url' required />
        <a href='/user/profile'><input type='submit' value='Add Info' /></a>
    </form>    
</div>

<%- include('../partials/end') %>